<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Adaugare eveniment cultural</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/register.css}"/>
</head>

<body>

<nav th:fragment="nav" class="topnav">
    <a th:href="@{'/client'}">Client</a>
    <a th:href="@{'/vanzator'}">Vanzator</a>
    <a th:href="@{'/angajat'}">Angajat</a>
    <a th:href="@{'/manager'}">Manager</a>

</nav>

<form class="box">
    <h1>Adaugare eveniment cultural: </h1>

    <input type="text" name="nume" placeholder="nume">
    <input type="text" name="tip" placeholder="tip">
    <input type="text" name="data" placeholder="data">
    <input type="text" name="capacitate" placeholder="capacitate">
    <div style="color: red" th:text="${error1}"></div>
    <input type="text" name="pret" placeholder="pret">
    <div style="color: red" th:text="${error2}"></div>
    <input type="submit" value="Adaugare eveniment cultural">
    <div style="color: red" th:text="${error3}"></div>
    <div style="color: green" th:text="${succ}"></div>

</form>

</body>
</html>