<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Adaugare spectacol</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/register.css}"/>
</head>

<body>

<nav th:fragment="nav" class="topnav">
    <a th:href="@{'/client'}">Client</a>
    <a th:href="@{'/vanzator'}">Vanzator</a>
    <a th:href="@{'/angajat'}">Angajat</a>
    <a th:href="@{'/manager'}">Manager</a>

</nav>

<form class="box">
    <h1>Adaugare spectacol: </h1>

    <input type="text" name="nume" placeholder="nume">
    <input type="text" name="muzica" placeholder="muzica">
    <input type="text" name="data" placeholder="data">
    <input type="text" name="locatie" placeholder="locatie">
    <input type="text" name="artisti" placeholder="artisti">
    <input type="text" name="interval" placeholder="interval">
    <input type="submit" value="Adaugare spectacol">
    <div style="color: red" th:text="${error}"></div>
    <div style="color: green" th:text="${succ}"></div>

</form>

</body>
</html>