<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cumparare bilet</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/register.css}"/>
</head>

<body>

<div th:replace="events :: nav"></div>

<form class="box">
    <h1>Cumpara bilet la filmul: </h1>


    <input type="text" name="nume" placeholder="nume">
    <input type="submit" value="Cumparare">
    <div style="color: red" th:text="${error}"></div>
    <div style="color: green" th:text="${film}"></div>

</form>

</body>
</html>