<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Introdu numele si id-ul clientului:</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/register.css}"/>
</head>

<body>

<nav th:fragment="nav" class="topnav">
    <a th:href="@{'/client/nume'}">Client</a>
    <a th:href="@{'/login/vanzator'}">Vanzator</a>
    <a th:href="@{'/login/angajat'}">Angajat</a>
    <a th:href="@{'/login/manager'}">Manager</a>

</nav>

<form class="box">
    <h1>Introdu numele si id-ul clientului: </h1>

    <button type="submit"><a class = "test" href="/client/clienti">clienti</a></button>
    <input type="text" name="nume" placeholder="nume">
    <input type="text" name="id" placeholder="id">
    <input type="submit" value="Submit">
    <div style="color: red" th:text="${errc}"></div>


</form>

</body>
</html>